<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Sharify</title>
    <link rel="icon" th:href="@{/img/favicon.png}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<header class="header" id="header">
    <div class="container">
        <div class="nav">
            <a class="tel" href="profile.html">Mans Sharify</a>
        </div>
    </div>
</header>

<form class="relative">
    <div class="wrap">
        <div class="search">
            <input class="searchTerm" placeholder="Meklēšana" type="text">
            <button class="searchButton" type="submit">Meklēt</button>
        </div>
    </div>
</form>

<section id="features">
    <div class="container">
        <div class="row aln-center">
            <div class="col-4 col-6-medium col-12-small">
                <!-- Feature -->
                <section>
                    <a class="image featured" href="#"><img alt="" th:src="@{/img/img-comp.png}" width="350"/></a>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <!-- Feature -->
                <section>
                    <a class="image featured" href="#"><img alt="" th:src="@{/img/img-car.png}" width="350"/></a>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <!-- Feature -->
                <section>
                    <a class="image featured" href="#"><img alt="" th:src="@{/img/img-inst.png}" width="350"/></a>
                </section>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row aln-center">
            <div class="col-4 col-6-medium col-12-small">
                <section>
                    <a class="image featured" href="#"><img alt="" th:src="@{/img/img-home.png}" width="350"/></a>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <!-- Feature -->
                <section>
                    <a class="image featured" href="#"><img alt="" th:src="@{/img/img-book1.png}" width="350"/></a>
                </section>
            </div>
            <div class="col-4 col-6-medium col-12-small">
                <!-- Feature -->
                <section>
                    <a class="image featured" href="#"><img alt="" th:src="@{/img/img-book2.png}" width="350"/></a>
                </section>
            </div>
        </div>
    </div>
</section>

<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by <b>Sharify</b>, Accenture Bootcamp Team1.
        </p>
    </div>
</footer>
</body>
</html>


